* {
    margin: 0;
    padding: 0;
}

body {
    background:  linear-gradient(to left, #8338ec, #3a86ff);
}

.container #login-row #login-col #login-box {
    margin-top: 70px;
    max-width: 600px;
    height: 300px;
    box-shadow: 5px 5px 5px 5px #495057;
    border-radius: 8px;
}

.form-group {
    margin-top: 20px;
}